{% extends "layout.html" %}


{% block body %}
    <form action="{{ url_for('books') }}" method="post">
        <div class="form-group">

            <label for="category">Search by</label>
            <select class="form-control" name="category">
                <option value="ISBN">ISBN</option>
                <option value="Author">Author Name</option>
                <option value="Title">Book Name</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="query">Enter The Search</label>
            <input class="form-control" type="text" name="search">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
    
    {% if data is none %}
        <br>
        <h2>{{ category }} cannot be empty.</h2>

    {% elif data and data.status == 200 %}
        {% if data.books %}
            <h1>Related Searches</h1>
            <ul>
                {% for book in data.books %}
                    <li>{{ book }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <br>
            <h2>No results found !!</h2>
        {% endif %}
    {% endif %}

{% endblock %}