{% extends "layout.html" %}

{% block title %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/sign.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="login-box">
        <form action="{{ url_for('signup') }}" method="post">

            <h1>Signup</h1>

            <div class="textbox">
                <input type="text" placeholder="Full Name" name="name" required="true">
            </div>
            
            <div class="textbox">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input type="email" placeholder="Email" name="email" value="" required="true">
            </div>
            
            <div class="textbox">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <input type="password" placeholder="Password" name="password" value="" required="true">
            </div> 
            
            <input class="btn" type="submit" name="" value="Sign Up">

            {% if errormessage %}
                <h3 class="error">Email already exists !</h3>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}